*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 25px;
}
.minesArea{
    display:flex;
    flex-wrap: wrap;
    user-select: none;
}
.minesArea .mineBtn{
    background-color: rgb(177, 177, 177);
    border: 1px solid rgb(126, 126, 126);
    width: 35px;
    height: 35px;
}
.selectLevel{
    margin: 5px 0;
}

button{
    padding: 7px;
    margin: 10px;
}